## Naive Bayesian Classifier

Naive Bayes algorithm is an intuitive method that uses the probabilities of each attribute belonging to each class to make a prediction. It simplifies the calculation of probabilities by assuming that the probability of each attribute belonging to a given class value is independent of all other attributes. This is a strong assumption but results in a fast and effective method.

## Data Dictionary
Dictionary is in the form of (variable):(definition)<br>
1) survival: Survival (0 = No, 1 = Yes)<br>
2) pclass: Ticket class	(1 = 1st, 2 = 2nd, 3 = 3rd)<br>
3) sex: Sex	<br>
4) Age: Age in years	
5) sibsp: # of siblings / spouses aboard the Titanic	
6) parch: # of parents / children aboard the Titanic	
7) ticket: Ticket number	
8) fare: Passenger fare	
9) cabin: Cabin number	
10) embarked: Port of Embarkation (C = Cherbourg, Q = Queenstown, S = Southampton)

## Variable Notes
1) pclass: A proxy for socio-economic status (SES)<br>
<li>1st = Upper</li>
<li>2nd = Middle</li>
<li>3rd = Lower</li>

2) age: Age is fractional if less than 1. If the age is estimated, is it in the form of xx.5

3) sibsp: The dataset defines family relations in this way...
<li>Sibling = brother, sister, stepbrother, stepsister</li>
<li>Spouse = husband, wife (mistresses and fianc√©s were ignored)</li>

4) parch: The dataset defines family relations in this way...<br>
<li>Parent = mother, father</li>
<li>Child = daughter, son, stepdaughter, stepson</li>
<li>Some children travelled only with a nanny, therefore parch=0 for them.</li>

In [60]:
# Required libraries
import pandas as pd
import numpy as np
from pandas import read_csv

# Plotting libraries
import matplotlib.pyplot as plt
import seaborn as sns
from ggplot import *

# Importing the datasets we need
df_train = pd.read_csv('train.csv')
print(df_train)

     PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
5              6         0       3
6              7         0       1
7              8         0       3
8              9         1       3
9             10         1       2
10            11         1       3
11            12         1       1
12            13         0       3
13            14         0       3
14            15         0       3
15            16         1       2
16            17         0       3
17            18         1       2
18            19         0       3
19            20         1       3
20            21         0       2
21            22         1       2
22            23         1       3
23            24         1       1
24            25         0       3
25            26         1       3
26            27         0       3
27            28         0       1
28            29         1       3
29            30         0       3
30            31         0       1
31            32         1       1
32            33         1       3
33            34         0       2
34            35         0       1
35            36         0       1
36            37         1       3
37            38         0       3
38            39         0       3
39            40         1       3
40            41         0       3
41            42         0       2
42            43         0       3
43            44         1       2
44            45         1       3
45            46         0       3
46            47         0       3
47            48         1       3
48            49         0       3
49            50         0       3
50            51         0       3
51            52         0       3
52            53         1       1
53            54         1       2
54            55         0       1
55            56         1       1
56            57         1       2
57            58         0       3
58            59         1       2
59            60         0       3
60            61         0       3
61            62         1       1
62            63         0       1
63            64         0       3
64            65         0       1
65            66         1       3
66            67         1       2
67            68         0       3
68            69         1       3
69            70         0       3
70            71         0       2
71            72         0       3
72            73         0       2
73            74         0       3
74            75         1       3
75            76         0       3
76            77         0       3
77            78         0       3
78            79         1       2
79            80         1       3
80            81         0       3
81            82         1       3
82            83         1       3
83            84         0       1
84            85         1       2
85            86         1       3
86            87         0       3
87            88         0       3
88            89         1       1
89            90         0       3
90            91         0       3
91            92         0       3
92            93         0       1
93            94         0       3
94            95         0       3
95            96         0       3
96            97         0       1
97            98         1       1
98            99         1       2
99           100         0       2
100          101         0       3
101          102         0       3
102          103         0       1
103          104         0       3
104          105         0       3
105          106         0       3
106          107         1       3
107          108         1       3
108          109         0       3
109          110         1       3
110          111         0       1
111          112         0       3
112          113         0       3
113          114         0       3
114          115         0       3
115          116         0       3
116          117         0       3
117          118         0       2
118          119         0       1
119          120         0       3
120          121         0       2
121          122         0       3
122          123         0       2
123          124         1       2
124          125         0       1
125          126         1       3
126          127         0       3
127          128         1       3
128          129         1       3
129          130         0       3
130          131         0       3
131          132         0       3
132          133         0       3
133          134         1       2
134          135         0       2
135          136         0       2
136          137         1       1
137          138         0       1
138          139         0       3
139          140         0       1
140          141         0       3
141          142         1       3
142          143         1       3
143          144         0       3
144          145         0       2
145          146         0       2
146          147         1       3
147          148         0       3
148          149         0       2
149          150         0       2
150          151         0       2
151          152         1       1
152          153         0       3
153          154         0       3
154          155         0       3
155          156         0       1
156          157         1       3
157          158         0       3
158          159         0       3
159          160         0       3
160          161         0       3
161          162         1       2
162          163         0       3
163          164         0       3
164          165         0       3
165          166         1       3
166          167         1       1
167          168         0       3
168          169         0       1
169          170         0       3
170          171         0       1
171          172         0       3
172          173         1       3
173          174         0       3
174          175         0       1
175          176         0       3
176          177         0       3
177          178         0       1
178          179         0       2
179          180         0       3
180          181         0       3
181          182         0       2
182          183         0       3
183          184         1       2
184          185         1       3
185          186         0       1
186          187         1       3
187          188         1       1
188          189         0       3
189          190         0       3
190          191         1       2
191          192         0       2
192          193         1       3
193          194         1       2
194          195         1       1
195          196         1       1
196          197         0       3
197          198         0       3
198          199         1       3
199          200         0       2
200          201         0       3
201          202         0       3
202          203         0       3
203          204         0       3
204          205         1       3
205          206         0       3
206          207         0       3
207          208         1       3
208          209         1       3
209          210         1       1
210          211         0       3
211          212         1       2
212          213         0       3
213          214         0       2
214          215         0       3
215          216         1       1
216          217         1       3
217          218         0       2
218          219         1       1
219          220         0       2
220          221         1       3
221          222         0       2
222          223         0       3
223          224         0       3
224          225         1       1
225          226         0       3
226          227         1       2
227          228         0       3
228          229         0       2
229          230         0       3
230          231         1       1
231          232         0       3
232          233         0       2
233          234         1       3
234          235         0       2
235          236         0       3
236          237         0       2
237          238         1       2
238          239         0       2
239          240         0       2
240          241         0       3
241          242         1       3
242          243         0       2
243          244         0       3
244          245         0       3
245          246         0       1
246          247         0       3
247          248         1       2
248          249         1       1
249          250         0       2
250          251         0       3
251          252         0       3
252          253         0       1
253          254         0       3
254          255         0       3
255          256         1       3
256          257         1       1
257          258         1       1
258          259         1       1
259          260         1       2
260          261         0       3
261          262         1       3
262          263         0       1
263          264         0       1
264          265         0       3
265          266         0       2
266          267         0       3
267          268         1       3
268          269         1       1
269          270         1       1
270          271         0       1
271          272         1       3
272          273         1       2
273          274         0       1
274          275         1       3
275          276         1       1
276          277         0       3
277          278         0       2
278          279         0       3
279          280         1       3
280          281         0       3
281          282         0       3
282          283         0       3
283          284         1       3
284          285         0       1
285          286         0       3
286          287         1       3
287          288         0       3
288          289         1       2
289          290         1       3
290          291         1       1
291          292         1       1
292          293         0       2
293          294         0       3
294          295         0       3
295          296         0       1
296          297         0       3
297          298         0       1
298          299         1       1
299          300         1       1
300          301         1       3
301          302         1       3
302          303         0       3
303          304         1       2
304          305         0       3
305          306         1       1
306          307         1       1
307          308         1       1
308          309         0       2
309          310         1       1
310          311         1       1
311          312         1       1
312          313         0       2
313          314         0       3
314          315         0       2
315          316         1       3
316          317         1       2
317          318         0       2
318          319         1       1
319          320         1       1
320          321         0       3
321          322         0       3
322          323         1       2
323          324         1       2
324          325         0       3
325          326         1       1
326          327         0       3
327          328         1       2
328          329         1       3
329          330         1       1
330          331         1       3
331          332         0       1
332          333         0       1
333          334         0       3
334          335         1       1
335          336         0       3
336          337         0       1
337          338         1       1
338          339         1       3
339          340         0       1
340          341         1       2
341          342         1       1
342          343         0       2
343          344         0       2
344          345         0       2
345          346         1       2
346          347         1       2
347          348         1       3
348          349         1       3
349          350         0       3
350          351         0       3
351          352         0       1
352          353         0       3
353          354         0       3
354          355         0       3
355          356         0       3
356          357         1       1
357          358         0       2
358          359         1       3
359          360         1       3
360          361         0       3
361          362         0       2
362          363         0       3
363          364         0       3
364          365         0       3
365          366         0       3
366          367         1       1
367          368         1       3
368          369         1       3
369          370         1       1
370          371         1       1
371          372         0       3
372          373         0       3
373          374         0       1
374          375         0       3
375          376         1       1
376          377         1       3
377          378         0       1
378          379         0       3
379          380         0       3
380          381         1       1
381          382         1       3
382          383         0       3
383          384         1       1
384          385         0       3
385          386         0       2
386          387         0       3
387          388         1       2
388          389         0       3
389          390         1       2
390          391         1       1
391          392         1       3
392          393         0       3
393          394         1       1
394          395         1       3
395          396         0       3
396          397         0       3
397          398         0       2
398          399         0       2
399          400         1       2
400          401         1       3
401          402         0       3
402          403         0       3
403          404         0       3
404          405         0       3
405          406         0       2
406          407         0       3
407          408         1       2
408          409         0       3
409          410         0       3
410          411         0       3
411          412         0       3
412          413         1       1
413          414         0       2
414          415         1       3
415          416         0       3
416          417         1       2
417          418         1       2
418          419         0       2
419          420         0       3
420          421         0       3
421          422         0       3
422          423         0       3
423          424         0       3
424          425         0       3
425          426         0       3
426          427         1       2
427          428         1       2
428          429         0       3
429          430         1       3
430          431         1       1
431          432         1       3
432          433         1       2
433          434         0       3
434          435         0       1
435          436         1       1
436          437         0       3
437          438         1       2
438          439         0       1
439          440         0       2
440          441         1       2
441          442         0       3
442          443         0       3
443          444         1       2
444          445         1       3
445          446         1       1
446          447         1       2
447          448         1       1
448          449         1       3
449          450         1       1
450          451         0       2
451          452         0       3
452          453         0       1
453          454         1       1
454          455         0       3
455          456         1       3
456          457         0       1
457          458         1       1
458          459         1       2
459          460         0       3
460          461         1       1
461          462         0       3
462          463         0       1
463          464         0       2
464          465         0       3
465          466         0       3
466          467         0       2
467          468         0       1
468          469         0       3
469          470         1       3
470          471         0       3
471          472         0       3
472          473         1       2
473          474         1       2
474          475         0       3
475          476         0       1
476          477         0       2
477          478         0       3
478          479         0       3
479          480         1       3
480          481         0       3
481          482         0       2
482          483         0       3
483          484         1       3
484          485         1       1
485          486         0       3
486          487         1       1
487          488         0       1
488          489         0       3
489          490         1       3
490          491         0       3
491          492         0       3
492          493         0       1
493          494         0       1
494          495         0       3
495          496         0       3
496          497         1       1
497          498         0       3
498          499         0       1
499          500         0       3
500          501         0       3
501          502         0       3
502          503         0       3
503          504         0       3
504          505         1       1
505          506         0       1
506          507         1       2
507          508         1       1
508          509         0       3
509          510         1       3
510          511         1       3
511          512         0       3
512          513         1       1
513          514         1       1
514          515         0       3
515          516         0       1
516          517         1       2
517          518         0       3
518          519         1       2
519          520         0       3
520          521         1       1
521          522         0       3
522          523         0       3
523          524         1       1
524          525         0       3
525          526         0       3
526          527         1       2
527          528         0       1
528          529         0       3
529          530         0       2
530          531         1       2
531          532         0       3
532          533         0       3
533          534         1       3
534          535         0       3
535          536         1       2
536          537         0       1
537          538         1       1
538          539         0       3
539          540         1       1
540          541         1       1
541          542         0       3
542          543         0       3
543          544         1       2
544          545         0       1
545          546         0       1
546          547         1       2
547          548         1       2
548          549         0       3
549          550         1       2
550          551         1       1
551          552         0       2
552          553         0       3
553          554         1       3
554          555         1       3
555          556         0       1
556          557         1       1
557          558         0       1
558          559         1       1
559          560         1       3
560          561         0       3
561          562         0       3
562          563         0       2
563          564         0       3
564          565         0       3
565          566         0       3
566          567         0       3
567          568         0       3
568          569         0       3
569          570         1       3

## Cleaning our dataset
Before we begin building our Naive Bayes model, let us go through the dataset and understand what attributes should we place our emphasis on. For attributes such as ticket number and port of embarkation, which have little to zero relevance to survival of a passenger, we shall remove them from the dataset. 

Also, we can consider removing rows with missing values.

In [61]:
# Deleting name, ticket and port of embarkation columns from dataset
del df_train['Name']
del df_train['Ticket']
del df_train['Embarked']

# Find number of missing values in each column
def num_missing(x):
    return sum(x.isnull())
print("Missing values per column")
print(df_train.apply(num_missing, axis=0))
    
# Remove cabin column as well since 687 out of 891 rows have no values
del df_train['Cabin']

# Replacing male=1 and female=0 for Sex column since Naive Bayes model can only run with float value data
df_train['Sex'] = df_train['Sex'].replace(['male','female'], [1,0])

# Let's analyse to see if there's any pattern for the missing values for 'Age' column
for passenger in df_train['PassengerId']:
    if np.isnan(df_train['Age'][passenger-1]):
        print(df_train.iloc[passenger-1])
        
del df_train['PassengerId']

Missing values per column
PassengerId      0
Survived         0
Pclass           0
Sex              0
Age            177
SibSp            0
Parch            0
Fare             0
Cabin          687
dtype: int64
PassengerId    6.0000
Survived       0.0000
Pclass         3.0000
Sex            1.0000
Age               NaN
SibSp          0.0000
Parch          0.0000
Fare           8.4583
Name: 5, dtype: float64
PassengerId    18.0
Survived        1.0
Pclass          2.0
Sex             1.0
Age             NaN
SibSp           0.0
Parch           0.0
Fare           13.0
Name: 17, dtype: float64
PassengerId    20.000
Survived        1.000
Pclass          3.000
Sex             0.000
Age               NaN
SibSp           0.000
Parch           0.000
Fare            7.225
Name: 19, dtype: float64
PassengerId    27.000
Survived        0.000
Pclass          3.000
Sex             1.000
Age               NaN
SibSp           0.000
Parch           0.000
Fare            7.225
Name: 26, dtype: float64
PassengerId    29.0000
Survived        1.0000
Pclass          3.0000
Sex             0.0000
Age                NaN
SibSp           0.0000
Parch           0.0000
Fare            7.8792
Name: 28, dtype: float64
PassengerId    30.0000
Survived        0.0000
Pclass          3.0000
Sex             1.0000
Age                NaN
SibSp           0.0000
Parch           0.0000
Fare            7.8958
Name: 29, dtype: float64
PassengerId     32.0000
Survived         1.0000
Pclass           1.0000
Sex              0.0000
Age                 NaN
SibSp            1.0000
Parch            0.0000
Fare           146.5208
Name: 31, dtype: float64
PassengerId    33.00
Survived        1.00
Pclass          3.00
Sex             0.00
Age              NaN
SibSp           0.00
Parch           0.00
Fare            7.75
Name: 32, dtype: float64
PassengerId    37.0000
Survived        1.0000
Pclass          3.0000
Sex             1.0000
Age                NaN
SibSp           0.0000
Parch           0.0000
Fare            7.2292
Name: 36, dtype: float64
PassengerId    43.0000
Survived        0.0000
Pclass          3.0000
Sex             1.0000
Age                NaN
SibSp           0.0000
Parch           0.0000
Fare            7.8958
Name: 42, dtype: float64
PassengerId    46.00
Survived        0.00
Pclass          3.00
Sex             1.00
Age              NaN
SibSp           0.00
Parch           0.00
Fare            8.05
Name: 45, dtype: float64
PassengerId    47.0
Survived        0.0
Pclass          3.0
Sex             1.0
Age             NaN
SibSp           1.0
Parch           0.0
Fare           15.5
Name: 46, dtype: float64
PassengerId    48.00
Survived        1.00
Pclass          3.00
Sex             0.00
Age              NaN
SibSp           0.00
Parch           0.00
Fare            7.75
Name: 47, dtype: float64
PassengerId    49.0000
Survived        0.0000
Pclass          3.0000
Sex             1.0000
Age                NaN
SibSp           2.0000
Parch           0.0000
Fare           21.6792
Name: 48, dtype: float64
PassengerId    56.0
Survived        1.0
Pclass          1.0
Sex             1.0
Age             NaN
SibSp           0.0
Parch           0.0
Fare           35.5
Name: 55, dtype: float64
PassengerId    65.0000
Survived        0.0000
Pclass          1.0000
Sex             1.0000
Age                NaN
SibSp           0.0000
Parch           0.0000
Fare           27.7208
Name: 64, dtype: float64
PassengerId    66.0000
Survived        1.0000
Pclass          3.0000
Sex             1.0000
Age                NaN
SibSp           1.0000
Parch           1.0000
Fare           15.2458
Name: 65, dtype: float64
PassengerId    77.0000
Survived        0.0000
Pclass          3.0000
Sex             1.0000
Age                NaN
SibSp           0.0000
Parch           0.0000
Fare            7.8958
Name: 76, dtype: float64
PassengerId    78.00
Survived        0.00
Pclass          3.00
Sex             1.00
Age              NaN
SibSp           0.00
Parch           0.00
Fare            8.05
Name: 77, dtype: float64
PassengerId    83.0000
Survived        1.0000
Pclass          3.0000
Sex             0.0000
Age                NaN
SibSp           0.0000
Parch           0.0000
Fare            7.7875
Name: 82, dtype: float64
PassengerId    88.00
Survived        0.00
Pclass          3.00
Sex             1.00
Age              NaN
SibSp           0.00
Parch           0.00
Fare            8.05
Name: 87, dtype: float64
PassengerId    96.00
Survived        0.00
Pclass          3.00
Sex             1.00
Age              NaN
SibSp           0.00
Parch           0.00
Fare            8.05
Name: 95, dtype: float64
PassengerId    102.0000
Survived         0.0000
Pclass           3.0000
Sex              1.0000
Age                 NaN
SibSp            0.0000
Parch            0.0000
Fare             7.8958
Name: 101, dtype: float64
PassengerId    108.000
Survived         1.000
Pclass           3.000
Sex              1.000
Age                NaN
SibSp            0.000
Parch            0.000
Fare             7.775
Name: 107, dtype: float64
PassengerId    110.00
Survived         1.00
Pclass           3.00
Sex              0.00
Age               NaN
SibSp            1.00
Parch            0.00
Fare            24.15
Name: 109, dtype: float64
PassengerId    122.00
Survived         0.00
Pclass           3.00
Sex              1.00
Age               NaN
SibSp            0.00
Parch            0.00
Fare             8.05
Name: 121, dtype: float64
PassengerId    127.00
Survived         0.00
Pclass           3.00
Sex              1.00
Age               NaN
SibSp            0.00
Parch            0.00
Fare             7.75
Name: 126, dtype: float64
PassengerId    129.0000
Survived         1.0000
Pclass           3.0000
Sex              0.0000
Age                 NaN
SibSp            1.0000
Parch            1.0000
Fare            22.3583
Name: 128, dtype: float64
PassengerId    141.0000
Survived         0.0000
Pclass           3.0000
Sex              0.0000
Age                 NaN
SibSp            0.0000
Parch            2.0000
Fare            15.2458
Name: 140, dtype: float64
PassengerId    155.0000
Survived         0.0000
Pclass           3.0000
Sex              1.0000
Age                 NaN
SibSp            0.0000
Parch            0.0000
Fare             7.3125
Name: 154, dtype: float64
PassengerId    159.0000
Survived         0.0000
Pclass           3.0000
Sex              1.0000
Age                 NaN
SibSp            0.0000
Parch            0.0000
Fare             8.6625
Name: 158, dtype: float64
PassengerId    160.00
Survived         0.00
Pclass           3.00
Sex              1.00
Age               NaN
SibSp            8.00
Parch            2.00
Fare            69.55
Name: 159, dtype: float64
PassengerId    167.0
Survived         1.0
Pclass           1.0
Sex              0.0
Age              NaN
SibSp            0.0
Parch            1.0
Fare            55.0
Name: 166, dtype: float64
PassengerId    169.000
Survived         0.000
Pclass           1.000
Sex              1.000
Age                NaN
SibSp            0.000
Parch            0.000
Fare            25.925
Name: 168, dtype: float64
PassengerId    177.0000
Survived         0.0000
Pclass           3.0000
Sex              1.0000
Age                 NaN
SibSp            3.0000
Parch            1.0000
Fare            25.4667
Name: 176, dtype: float64
PassengerId    181.00
Survived         0.00
Pclass           3.00
Sex              0.00
Age               NaN
SibSp            8.00
Parch            2.00
Fare            69.55
Name: 180, dtype: float64
PassengerId    182.00
Survived         0.00
Pclass           2.00
Sex              1.00
Age               NaN
SibSp            0.00
Parch            0.00
Fare            15.05
Name: 181, dtype: float64
PassengerId    186.0
Survived         0.0
Pclass           1.0
Sex              1.0
Age              NaN
SibSp            0.0
Parch            0.0
Fare            50.0
Name: 185, dtype: float64
PassengerId    187.0
Survived         1.0
Pclass           3.0
Sex              0.0
Age              NaN
SibSp            1.0
Parch            0.0
Fare            15.5
Name: 186, dtype: float64
PassengerId    197.00
Survived         0.00
Pclass           3.00
Sex              1.00
Age               NaN
SibSp            0.00
Parch            0.00
Fare             7.75
Name: 196, dtype: float64
PassengerId    199.00
Survived         1.00
Pclass           3.00
Sex              0.00
Age               NaN
SibSp            0.00
Parch            0.00
Fare             7.75
Name: 198, dtype: float64
PassengerId    202.00
Survived         0.00
Pclass           3.00
Sex              1.00
Age               NaN
SibSp            8.00
Parch            2.00
Fare            69.55
Name: 201, dtype: float64
PassengerId    215.00
Survived         0.00
Pclass           3.00
Sex              1.00
Age               NaN
SibSp            1.00
Parch            0.00
Fare             7.75
Name: 214, dtype: float64
PassengerId    224.0000
Survived         0.0000
Pclass           3.0000
Sex              1.0000
Age                 NaN
SibSp            0.0000
Parch            0.0000
Fare             7.8958
Name: 223, dtype: float64
PassengerId    230.0000
Survived         0.0000
Pclass           3.0000
Sex              0.0000
Age                 NaN
SibSp            3.0000
Parch            1.0000
Fare            25.4667
Name: 229, dtype: float64
PassengerId    236.00
Survived         0.00
Pclass           3.00
Sex              0.00
Age               NaN
SibSp            0.00
Parch            0.00
Fare             7.55
Name: 235, dtype: float64
PassengerId    241.0000
Survived         0.0000
Pclass           3.0000
Sex              0.0000
Age                 NaN
SibSp            1.0000
Parch            0.0000
Fare            14.4542
Name: 240, dtype: float64
PassengerId    242.0
Survived         1.0
Pclass           3.0
Sex              0.0
Age              NaN
SibSp            1.0
Parch            0.0
Fare            15.5
Name: 241, dtype: float64
PassengerId    251.00
Survived         0.00
Pclass           3.00
Sex              1.00
Age               NaN
SibSp            0.00
Parch            0.00
Fare             7.25
Name: 250, dtype: float64
PassengerId    257.0
Survived         1.0
Pclass           1.0
Sex              0.0
Age              NaN
SibSp            0.0
Parch            0.0
Fare            79.2
Name: 256, dtype: float64
PassengerId    261.00
Survived         0.00
Pclass           3.00
Sex              1.00
Age               NaN
SibSp            0.00
Parch            0.00
Fare             7.75
Name: 260, dtype: float64
PassengerId    265.00
Survived         0.00
Pclass           3.00
Sex              0.00
Age               NaN
SibSp            0.00
Parch            0.00
Fare             7.75
Name: 264, dtype: float64
PassengerId    271.0
Survived         0.0
Pclass           1.0
Sex              1.0
Age              NaN
SibSp            0.0
Parch            0.0
Fare            31.0
Name: 270, dtype: float64
PassengerId    275.00
Survived         1.00
Pclass           3.00
Sex              0.00
Age               NaN
SibSp            0.00
Parch            0.00
Fare             7.75
Name: 274, dtype: float64
PassengerId    278.0
Survived         0.0
Pclass           2.0
Sex              1.0
Age              NaN
SibSp            0.0
Parch            0.0
Fare             0.0
Name: 277, dtype: float64
PassengerId    285.0
Survived         0.0
Pclass           1.0
Sex              1.0
Age              NaN
SibSp            0.0
Parch            0.0
Fare            26.0
Name: 284, dtype: float64
PassengerId    296.0000
Survived         0.0000
Pclass           1.0000
Sex              1.0000
Age                 NaN
SibSp            0.0000
Parch            0.0000
Fare            27.7208
Name: 295, dtype: float64
PassengerId    299.0
Survived         1.0
Pclass           1.0
Sex              1.0
Age              NaN
SibSp            0.0
Parch            0.0
Fare            30.5
Name: 298, dtype: float64
PassengerId    301.00
Survived         1.00
Pclass           3.00
Sex              0.00
Age               NaN
SibSp            0.00
Parch            0.00
Fare             7.75
Name: 300, dtype: float64
PassengerId    302.00
Survived         1.00
Pclass           3.00
Sex              1.00
Age               NaN
SibSp            2.00
Parch            0.00
Fare            23.25
Name: 301, dtype: float64
PassengerId    304.00
Survived         1.00
Pclass           2.00
Sex              0.00
Age               NaN
SibSp            0.00
Parch            0.00
Fare            12.35
Name: 303, dtype: float64
PassengerId    305.00
Survived         0.00
Pclass           3.00
Sex              1.00
Age               NaN
SibSp            0.00
Parch            0.00
Fare             8.05
Name: 304, dtype: float64
PassengerId    307.0000
Survived         1.0000
Pclass           1.0000
Sex              0.0000
Age                 NaN
SibSp            0.0000
Parch            0.0000
Fare           110.8833
Name: 306, dtype: float64
PassengerId    325.00
Survived         0.00
Pclass           3.00
Sex              1.00
Age               NaN
SibSp            8.00
Parch            2.00
Fare            69.55
Name: 324, dtype: float64
PassengerId    331.00
Survived         1.00
Pclass           3.00
Sex              0.00
Age               NaN
SibSp            2.00
Parch            0.00
Fare            23.25
Name: 330, dtype: float64
PassengerId    335.00
Survived         1.00
Pclass           1.00
Sex              0.00
Age               NaN
SibSp            1.00
Parch            0.00
Fare           133.65
Name: 334, dtype: float64
PassengerId    336.0000
Survived         0.0000
Pclass           3.0000
Sex              1.0000
Age                 NaN
SibSp            0.0000
Parch            0.0000
Fare             7.8958
Name: 335, dtype: float64
PassengerId    348.0
Survived         1.0
Pclass           3.0
Sex              0.0
Age              NaN
SibSp            1.0
Parch            0.0
Fare            16.1
Name: 347, dtype: float64
PassengerId    352.0
Survived         0.0
Pclass           1.0
Sex              1.0
Age              NaN
SibSp            0.0
Parch            0.0
Fare            35.0
Name: 351, dtype: float64
PassengerId    355.000
Survived         0.000
Pclass           3.000
Sex              1.000
Age                NaN
SibSp            0.000
Parch            0.000
Fare             7.225
Name: 354, dtype: float64
PassengerId    359.0000
Survived         1.0000
Pclass           3.0000
Sex              0.0000
Age                 NaN
SibSp            0.0000
Parch            0.0000
Fare             7.8792
Name: 358, dtype: float64
PassengerId    360.0000
Survived         1.0000
Pclass           3.0000
Sex              0.0000
Age                 NaN
SibSp            0.0000
Parch            0.0000
Fare             7.8792
Name: 359, dtype: float64
PassengerId    365.0
Survived         0.0
Pclass           3.0
Sex              1.0
Age              NaN
SibSp            1.0
Parch            0.0
Fare            15.5
Name: 364, dtype: float64
PassengerId    368.0000
Survived         1.0000
Pclass           3.0000
Sex              0.0000
Age                 NaN
SibSp            0.0000
Parch            0.0000
Fare             7.2292
Name: 367, dtype: float64
PassengerId    369.00
Survived         1.00
Pclass           3.00
Sex              0.00
Age               NaN
SibSp            0.00
Parch            0.00
Fare             7.75
Name: 368, dtype: float64
PassengerId    376.0000
Survived         1.0000
Pclass           1.0000
Sex              0.0000
Age                 NaN
SibSp            1.0000
Parch            0.0000
Fare            82.1708
Name: 375, dtype: float64
PassengerId    385.0000
Survived         0.0000
Pclass           3.0000
Sex              1.0000
Age                 NaN
SibSp            0.0000
Parch            0.0000
Fare             7.8958
Name: 384, dtype: float64
PassengerId    389.0000
Survived         0.0000
Pclass           3.0000
Sex              1.0000
Age                 NaN
SibSp            0.0000
Parch            0.0000
Fare             7.7292
Name: 388, dtype: float64
PassengerId    410.0000
Survived         0.0000
Pclass           3.0000
Sex              0.0000
Age                 NaN
SibSp            3.0000
Parch            1.0000
Fare            25.4667
Name: 409, dtype: float64
PassengerId    411.0000
Survived         0.0000
Pclass           3.0000
Sex              1.0000
Age                 NaN
SibSp            0.0000
Parch            0.0000
Fare             7.8958
Name: 410, dtype: float64
PassengerId    412.0000
Survived         0.0000
Pclass           3.0000
Sex              1.0000
Age                 NaN
SibSp            0.0000
Parch            0.0000
Fare             6.8583
Name: 411, dtype: float64
PassengerId    414.0
Survived         0.0
Pclass           2.0
Sex              1.0
Age              NaN
SibSp            0.0
Parch            0.0
Fare             0.0
Name: 413, dtype: float64
PassengerId    416.00
Survived         0.00
Pclass           3.00
Sex              0.00
Age               NaN
SibSp            0.00
Parch            0.00
Fare             8.05
Name: 415, dtype: float64
PassengerId    421.0000
Survived         0.0000
Pclass           3.0000
Sex              1.0000
Age                 NaN
SibSp            0.0000
Parch            0.0000
Fare             7.8958
Name: 420, dtype: float64
PassengerId    426.00
Survived         0.00
Pclass           3.00
Sex              1.00
Age               NaN
SibSp            0.00
Parch            0.00
Fare             7.25
Name: 425, dtype: float64
PassengerId    429.00
Survived         0.00
Pclass           3.00
Sex              1.00
Age               NaN
SibSp            0.00
Parch            0.00
Fare             7.75
Name: 428, dtype: float64
PassengerId    432.0
Survived         1.0
Pclass           3.0
Sex              0.0
Age              NaN
SibSp            1.0
Parch            0.0
Fare            16.1
Name: 431, dtype: float64
PassengerId    445.0000
Survived         1.0000
Pclass           3.0000
Sex              1.0000
Age                 NaN
SibSp            0.0000
Parch            0.0000
Fare             8.1125
Name: 444, dtype: float64
PassengerId    452.0000
Survived         0.0000
Pclass           3.0000
Sex              1.0000
Age                 NaN
SibSp            1.0000
Parch            0.0000
Fare            19.9667
Name: 451, dtype: float64
PassengerId    455.00
Survived         0.00
Pclass           3.00
Sex              1.00
Age               NaN
SibSp            0.00
Parch            0.00
Fare             8.05
Name: 454, dtype: float64
PassengerId    458.0000
Survived         1.0000
Pclass           1.0000
Sex              0.0000
Age                 NaN
SibSp            1.0000
Parch            0.0000
Fare            51.8625
Name: 457, dtype: float64
PassengerId    460.00
Survived         0.00
Pclass           3.00
Sex              1.00
Age               NaN
SibSp            0.00
Parch            0.00
Fare             7.75
Name: 459, dtype: float64
PassengerId    465.00
Survived         0.00
Pclass           3.00
Sex              1.00
Age               NaN
SibSp            0.00
Parch            0.00
Fare             8.05
Name: 464, dtype: float64
PassengerId    467.0
Survived         0.0
Pclass           2.0
Sex              1.0
Age              NaN
SibSp            0.0
Parch            0.0
Fare             0.0
Name: 466, dtype: float64
PassengerId    469.000
Survived         0.000
Pclass           3.000
Sex              1.000
Age                NaN
SibSp            0.000
Parch            0.000
Fare             7.725
Name: 468, dtype: float64
PassengerId    471.00
Survived         0.00
Pclass           3.00
Sex              1.00
Age               NaN
SibSp            0.00
Parch            0.00
Fare             7.25
Name: 470, dtype: float64
PassengerId    476.0
Survived         0.0
Pclass           1.0
Sex              1.0
Age              NaN

Since there is no pattern in the missing data on any variables, we shall delete rows of data with missing age values. Given a relatively huge sample, we can drop data without substantial loss of statistical power.

In [62]:
# Removal of rows with missing age values
df_train = df_train.dropna(axis=0)

## Deciding which Naive Bayes model to build under scikit learn library
<strong>1) Gaussian:</strong><br>
It is used in classification and it assumes that features follow a normal distribution

<strong>2) Multinomial:</strong><br>
It is used for discrete counts. We can think of it as ‚Äúnumber of times outcome number x_i is observed over the n trials‚Äù.

<strong>3) Bernoulli:</strong><br>
It is useful if our feature vectors are binary (i.e zeros and ones). An example would be text classification where 1 represents 'word occurs in the document' and 0 represents 'word does not occur in the document' respectively.

In [63]:
# Implementation of a Gaussian model
from sklearn.naive_bayes import GaussianNB
from sklearn import metrics
import numpy as np

# Retrieving test data
df_test = pd.read_csv('test.csv')

#for column in df_test:
    #print(df_test[column].isnull().sum())
    
# Deleting irrelevant columns from test data
del df_test['Name']
del df_test['Ticket']
del df_test['Embarked']
del df_test['Cabin']

# Replace nan values with 0
for column in df_test:
    df_test[column].fillna(0, inplace=True)
#df_test['Age'].fillna(0, inplace=True)
# Store indexes of rows to remove data from prediction results data
index_to_remove = []

for row in range(len(df_test['Age'])):
    if df_test['Age'][row] == 0 or df_test['Fare'][row] == 0:
        index_to_remove.append(row)

# Removal of rows with missing age values
df_test = df_test.loc[df_test['Age'] != 0]
df_test = df_test.loc[df_test['Fare'] != 0]

# Replacing male=1 and female=0 for Sex column since Naive Bayes model can only run with float value data
df_test['Sex'] = df_test['Sex'].replace(['male','female'], [1,0])

# Retrieve target values for training data
df_target = df_train['Survived']
del df_train['Survived']

# Reverse the indexes of the row to ensure that python for-loop does not go out of index since we are removing rows
index_to_remove = index_to_remove[::-1]

# Retrieving test prediction data
df_target_pred = pd.read_csv('gender_submission.csv')
for i in range(len(index_to_remove)):
    df_target_pred.drop(df_target_pred.index[index_to_remove[i]], inplace=True)

del df_test['PassengerId']
del df_target_pred['PassengerId']

# Convert our dataframes into matrices before we can use the GaussianNB() function
#df_train = df_train.as_matrix().astype(np.float)
#df_target = df_target.as_matrix().astype(np.float)
#df_test = df_test.as_matrix().astype(np.float)
#pd.set_option('display.max_rows', 1000)

# Fitting a Naive Bayes model to the data
model = GaussianNB()
model.fit(df_train, df_target)
target_pred = model.predict(df_test)
accuracy = np.round(metrics.accuracy_score(df_target_pred, target_pred, normalize=True)*100, decimals=2)
accuracy = accuracy.astype('str') #Initial accuracy is of np.float type
print("We attain an accuracy of " + accuracy + "% for our Naive Bayes Model.")

[[180  23]
 [  3 124]]
We attain an accuracy of 92.12% for our Naive Bayes Model.

## Conclusion
Given an accuracy rate of above 90%, we can be rather confident of our prediction for the survivability of each passenger, given the parameters as specified above. Nonetheless, more in-depth feature engineering can be practiced to better the prediction model. And, we should be wary that the Naive Bayes Model assumes that features are independent of each other.